
<!-- header -->
<%- include('include/_header') %>
<!-- /header -->




    <!-- Main site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/"><i class="fas fa-angle-double-left"></i>Add  Clicked Users</a>
                </div>

            </div>

            <div class="form-title text-center">
                <h2 class="text-dark">New User</h2>
                <span class="text-light">Use the below form to create new account</span>

            </div>

             <!-- form handling-->

             <!-- add user form -->
             <%- include('include/_form') %>
             <!-- add user form -->

            
             <!-- /form -->

        </div>

    </main>
    <!-- /Main Site -->




<!-- footer -->
<%- include('include/_footer') %>
<!-- /footer -->