<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Application</title>

    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/img/menu1.jpeg">
</head>
<body>
    

    <!-- Header -->
    <!-- <header>
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/" class="nav-brand text-dark">Food Ordering Website</a>
                </div>
            </div>
        </nav>
    </header> -->

    <!-- /header -->
    <!-- nav -->
    <header>

        <!-- <div class="navbar"> -->
            <nav class="navigation">
                <ul>
                    <li>Home</a></li>
                    <li>About</a></li>
                    <li>Menu</a></li>
                    <li>Social</a></li>
                </ul>
            </nav>
        <!-- </div> -->
    </header>
    <!-- /nav -->

    <!-- main site -->
        <!-- Image holders -->
    <!-- <div class="image-holder">
         <div class="img-1">
            <img src="../assets/img/s_menu-1.jpeg" alt="loading">
            
            
        </div>
        <div class="img-2">
            <img src="../assets/img/s_menu-2.jpeg" alt="loading">
        </div>
        <div class="img-3">
            <img src="../assets/img/s_menu-3.jpeg" alt="loading">
        </div> 
        <div class="img-4">
            <img src="../assets/img/s_menu-4.jpeg" alt="loading">
        </div> 
        <div class="img-5">
            <img src="../assets/img/s_menu-5.jpeg" alt="loading">
        </div> 

    </div> -->



<!-- <form action="" method="post"> -->
    <!-- it will have only the item name -->
    <!-- <input type="text" value="item-1">
  
        <select name="item" id="item-1">
            <option value="menu-1">Enter Quantity</option>
            <option value="menu-2">1</option>
            <option value="menu-3">2</option>
            <option value="menu-3">3</option>
        </select>
        
    <input type="text" value="item-2">

     <select name="item" id="item-2">
        <option value="menu-1" >Enter Quantity</option>
        <option value="menu-2">1</option>
        <option value="menu-3">2</option>
        <option value="menu-3">3</option>
     </select>

    <input type="text" value="item-3">
    <select name="item" id="item-3">
        <option value="menu-1">Enter Quantity</option>
        <option value="menu-2">1</option>
        <option value="menu-3">2</option>
        <option value="menu-3">3 </option>
    </select>

    <input type="text" value="item-4">
    <select name="item" id="item-4">
        <option value="menu-1">Enter Quantity</option>
        <option value="menu-2">1</option>
        <option value="menu-3">2</option>
        <option value="menu-3">3 </option>
    </select>

    <input type="text" value="item-5">
    <select name="item" id="item-5">
        <option value="menu-1">Enter Quantity</option>
        <option value="menu-2">1</option>
        <option value="menu-3">2</option>
        <option value="menu-3">3 </option>
    </select>

    <input type="text" value="item-6">
    <select name="item" id="item-6">
        <option value="menu-1">Enter Quantity</option>
        <option value="menu-2">1</option>
        <option value="menu-3">2</option>
        <option value="menu-3">3 </option>
    </select>

    
    
    
</form>
<input type="text" value="" class="table">Enter Your Table num
<button class="btn">Submit</button> -->
    <!-- /main-site -->


</body>
</html>